.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    text-align: left;
}

.inputsContainer {
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.inputLabel {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.inputField {
    height: 2.5rem;
    margin-bottom: 2.3rem;
    width: 100%;
    padding-left: 0.5rem;
}

.loginBtnContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}